@import 'base/variables';

#page-1,#page-2 {
	width: $document-width;
	height: $document-height;
	overflow: hidden;
	float: left;
	position: relative;
}
.noi-bg {
	position: absolute;
	top:0;
	left: 0;
	width: 1832px;
	height: $document-height;
}
.white-bg {
	position: absolute;
	top: 60px;
	left: 60px;
	width: 1628px;
	height: 1120px;
	background: #fff;
	display: inline-block;
}
.noi-logo {
	position: absolute;
	top: 120px;
	left: 1375px;
	width: 260px;
}
.separator {
	width: 100%;
	height: 10px;
	display: inline-block;
	position: absolute;
	top: 910px;
	left: 805px;
}
.separator span {
	width: 758px;
	height: 2px;
	display: inline-block;
	vertical-align: middle;
	background-color: #000;
	position: relative;
}
.separator.long {
	top: 985px;
	left: 120px;
}
.separator.long span {
	width: 1508px;
}

#page-1 {
	.noi-logo {
		position: absolute;
		top: 120px;
		left: 1345px;
		width: 290px;
	}
	#mascotte {
		position: absolute;
		display: block;
		height: 1150px;
		bottom: 60px;
		left: 60px;
	}
	#title {
		position: absolute;
		top: 380px;
		left: 805px;
		font-size: 137.5px;
		line-height: 137.5px;
		margin: 0;
		font-weight: 200;
	}
	#title2 {
		position: absolute;
		top: 815px;
		left: 805px;
		font-size: 42px;
		line-height: 42px;
		font-weight: 600;
	}
	#title3 {
		position: absolute;
		top: 965px;
		left: 805px;
		font-size: 65px;
		line-height: 65px;
		font-weight: 600;
	}

	#title, #title2, #title3, .separator span {
		max-width: 830px;
	}
}
#page-2 {
	#title4 {
		position: absolute;
		top: 110px;
		left: 115px;
		font-weight: 200;
		font-size: 83px;
		line-height: 83px;
		margin: 0;
	}
	#title5 {
		position: absolute;
		top: 210px;
		left: 115px;
		font-size: 65px;
		line-height: 65px;
		font-weight: 600;
	}
	#schedule {
		position: absolute;
		top: 365px;
		left: 115px;
		font-weight: 300;
		font-size: 41px;
		line-height: 41px;
		line-height: 45px;
	}
	#schedule .hour {
		position: absolute;
		top: 0;
		left: 0;
		width: 135px;
		text-align: right;
		font-weight: 300;
	}
	#schedule .desc {
		word-break: break-word;
		position: absolute;
		top: 0;
		left: 175px;
		width: 1055px;
	}
	#title6 {
		z-index: 999;
		position: absolute;
		left: 115px;
		top: 750px;
		font-weight: 300;
		font-size: 41px;
	}
	#schedule, #title6 {
		strong, b {
			font-weight: 400;
		}
	}
	#title4, #title5, #title6, #schedule {
		max-width: 1230px;
	}
	.separator.long span {
		max-width: 1508px;
	}

	.watertank {
		position: absolute;
		bottom: 205px;
		right: 130px;
		height: 640px;
		width: 231px;
	}
	.watertank-image {
		width: 100%;
	}
	.white-block {
		display: inline-block;
		width: 105px;
		height: 250px;
		background-color: #fff;
		position: absolute;
		bottom: 205px;
		right: 192px;
	}
	#logos {
		position: absolute;
		top: 1050px;
		left: 120px;
		width: 1508px;

		&:after {
			display: table;
			content: '';
			clear: both;
		}
		.img-container {
			margin-right: 60px;
			margin-bottom: 25px;
			display: inline-block;
			position: relative;
			float: left;

			&.img-container:last-child {
				margin-right: 0;
			}

			img {
				display: block;
				max-height: 80px;
			}

			.remove {
				cursor: pointer;
				position: absolute;
				bottom: -5px;
				right: -25px;
				padding: 5px;
				background-color: #e3736f;
				color: white;
				border-radius: 100%;
				width: 17px;
				height: 17px;
				text-align: center;
				line-height: 17px;
				font-weight: 600;
				box-shadow: 0px 0px 7px #d8d8d8;
			}
		}
	}
}
.add-logo {
	position: absolute;
	top: 2550px;
	left: 111px;

	input {
		display: none;
	}

	label {
		cursor: pointer;
		padding: 5px;
		background-color: #67c066;
		color: white;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		display: inline-block;
		text-align: center;
		line-height: 30px;
		font-weight: 600;
		font-size: 35px;
		box-shadow: 0px 0px 7px #d8d8d8;
	}

}
#logos .img-container 
form {
	width: 100%;
	text-align: center;
}
form #submit-form {
	margin: 40px 0;
}